// Custom styles.
$custom-main-color = #657A81
$custom-bg-color = #fdf6e3  // solarized light
$black-light = #333
$menu-item-color = #ECE7D5

.content-wrap {
  background: none;
}

.main {
  background: $custom-main-color;
}

.post-block, .sidebar, .sidebar-inner, .header-inner, .footer, .comments {
  background: $custom-bg-color;
}

.menu-item-active a {
  background: $menu-item-color !important
}

.sub-menu .menu-item-active a {
  background: $menu-item-color !important
}

kbd {
  background: $menu-item-color
}
