// Custom styles.
$custom-main-color = #657A81
$custom-bg-color = #fdf6e3  // solarized light
$black-light = #333
$menu-item-color = #ECE7D5
.content-wrap {
  background: none;
}

.main {
  background: $custom-main-color;
}

.post-block {
  background: $custom-bg-color;
}

.sidebar-inner {
  background: $custom-bg-color;
}

.header-inner {
  background: $custom-bg-color;
}

.footer {
  background: $custom-bg-color;
}

.menu-item-active a {
  background: $menu-item-color
}

kbd {
  background: $menu-item-color
}
